<% if(title) { %>
  <title><%= title %> | Legal Lieutenant</title>
<% } else { %>
  <title>Legal Lieutenant</title>
<% } %>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="So many immigrant, low-income, and first-generation college students are overwhelmed with paperwork: immigration forms, employment documents, the FAFSA, and more. Legal Lieutenant can help." />
<meta name="keywords" content="legal, lieutenant, helper, document, form, AI, generate, summarize" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" type="image/x-icon" href="/media/logo.png">
<link rel="apple-touch-icon" sizes="152x152" href="/media/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
<link rel="manifest" href="/media/site.webmanifest">
<link rel="mask-icon" href="/media/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/media/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Legal Lieutenant">
<meta name="application-name" content="Legal Lieutenant">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/media/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
