<nav>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/explain">Explain</a></li>
    <li><a href="/generate">Generate</a></li>
    <li><a href="/documents">Documents</a></li>
  </ul>
</nav>
