<h1 id="ll"><a href="/">Legal Lieutenant</a></h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/explain">Explain</a></li>
    <li><a href="/generate">Generate</a></li>
  </ul>
</nav>
