body {
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: whitesmoke;
}

main {
  padding: 1rem;
}

div.cs {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
  transition:
    background-color 500ms,
    color 500ms;
  overflow-y: auto;
}

div.cs:hover {
  background-color: #3c3c3c;
  color: white;
}

.hidden {
  display: none;
}

.btn {
  background-color: #3c3c3c;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  transition:
    color 500ms,
    background-color 500ms;
  cursor: pointer;
}

#tgl:hover {
  background-color: whitesmoke;
  color: black;
}
