body {
  background-color: #fffbe3;
}


.main {
  background-color: peachpuff;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  position: relative;
}

.main-content {
  position: relative;
  z-index: 1;
}

.main h2 {
  margin: 0;
  font-size: 5em;
}

.main p {
  margin: 15px 0;
  font-size: 2em;
}

.buttons {
  margin-top: 20px;
}

.buttons a {
  color: white;
  background-color: #006400;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.5s;

}

.buttons a:hover {
  background-color: #004700;
}

.section {
  padding: 40px 20px;
  min-height: 40vh;
  text-align: center;
  background-color: #e0f7fa;
}

.section h3 {
  font-size: 3em;
  margin-bottom: 20px;
}

.section.left {
  background-color: lightgreen;
  text-align: left;
}

.section.left h3 {
  text-align: center;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  background-color: #fffbf2;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;
  text-align: left;
}

.feature h4 {
  margin-top: 0;
  text-align: center;
}

.feature p {
  text-align: center;
}
