<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: "Explain"}); %>
    <link rel="stylesheet" href="css/forms.css" />
</head>

<body>
  <header><%- include("../partials/navbar"); %></header>
  <main>
    <div class="section">
      <div class="features">
        <div class="feature">
          <h4>Decomposition</h4>
          <p>Break down a big document into smaller pieces.</p>
        </div>
        <div class="feature">
          <h4>Summarization</h4>
          <p>Summarize sections and define words within your documents.</p>
        </div>
        <div class="feature">
          <h4>Issue Identification</h4>
          <p>Highlight loopholes, issues, or places where there is potential for confusion within each section.</p>
        </div>
      </div>
    </div>
    <h1>Explain Document</h1>
    <form style="border-bottom: 2px solid black;" action="/explain-file" method="POST" enctype="multipart/form-data">
      <label for="formName1">Document Title:</label>
      <input type="text" id="formName1" name="formName" required />
      <br />
      <input type="file" id="file" name="file" required />
      <br />
      <button type="submit">Explain File Document</button>
    </form>
    <form action="/explain-text" method="POST">
      <label for="formName2">Document Title:</label>
      <input type="text" id="formName2" name="formName" required />
      <label for="documentContent">Insert Text Document:</label>
      <textarea id="documentContent" name="documentContent" rows="25" cols="80" required></textarea>
      <button type="submit">Explain Text Document</button>
    </form>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>
