<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: "Generate"}); %>
    <link rel="stylesheet" href="css/forms.css" />
</head>

<body>
  <header><%- include('../partials/navbar'); %></header>
  <main>
    <div class="section">
      <div class="features">
        <div class="feature">
          <h4>Document Generation</h4>
          <p>Generate custom legal documents from scratch with ease.</p>
        </div>
        <div class="feature">
          <h4>Context Inclusion</h4>
          <p>Use the provided information and common knowledge to automate as much as possible.</p>
        </div>
        <div class="feature">
          <h4>Issue Identification</h4>
          <p>Highlight loopholes, issues, or places where there is potential for confusion within each section.</p>
        </div>
      </div>
    </div>
    <h1>Generate Document</h1>
    <form action="/generate-text" method="POST" enctype="multipart/form-data">
      <label for="formName">Document Title:</label>
      <input type="text" id="formName" name="formName" required />
      <label for="template" style="text-align: center;">Reference Document (optional):
      <br />
      <small><i><b>This is an advanced feature.</b><br />You can optionally upload a template/sample/information document.<br />This adds a bit more time and one extra step to the generation process.<br />However, it is also more accurate and can help you better fine-tune your document.</i></small>
      </label>
      <input type="file" id="template" name="template" />
      <label for="information">Information (context and/or sample):</label>
      <textarea id="information" name="information" rows="25" cols="80" required></textarea>
      <button type="submit">Generate Text Document</button>
    </form>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>
