<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  <header><%- include('../partials/navbar'); %></header>
  <main>
    <div class="main">
      <div class="main-content">
        <h2>Need Help Filling Out Documents?</h2>
        <p>Your One-Stop Solution for Legal Documents</p>
        <div class="buttons">
          <a href="/explain">Explain Document</a>
          <a href="/generate">Generate</a>
        </div>
      </div>
    </div>
    <div class="section">
      <h3>Our Key Features</h3>
      <div class="features">
        <div class="feature">
          <h4>Decomposition</h4>
          <p>Break down a big document into smaller pieces.</p>
        </div>
        <div class="feature">
          <h4>Summarization</h4>
          <p>Summarize sections and define words within your documents.</p>
        </div>
        <div class="feature">
          <h4>Document Generation</h4>
          <p>Generate custom legal documents from scratch with ease.</p>
        </div>
        <div class="feature">
          <h4>Context Inclusion</h4>
          <p>Use the provided information and common knowledge to automate as much as possible.</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>
