<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  <header><%- include('../partials/navbar'); %></header>
  <main>
    <div class="main">
      <div class="main-content">
        <h2>Need Help Filling Out Documents?</h2>
        <p>Your One-Stop Solution for Legal Documents</p>
        <div class="buttons">
          <a href="/explain">Explain Document</a>
          <a href="/generate">Generate Document</a>
        </div>
      </div>
    </div>
    <div class="section left">
      <h3>How To Use</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YATQxAUbbBc?si=Sp9rBlbwEMifvvLf"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <ul>
        <li>Summarize page
          <ul>
            <li>Upload a PDF, DOC, DOCX, etc., or enter the document text</li>
            <li>Press submit</li>
            <li>Once the summary screen loads, hover over any section to see the summary and potential concerning areas
            </li>
            <li>Press the toggle button to switch between the summary and raw text views</li>
            <li>In the raw text view, highlight or double-click on a word to see its definition
              <ul>
                <li>The definition will appear in a pop-up</li>
                <li>You must have one and only one word selected; otherwise, we will assume that you are just trying to
                  copy a part of the document</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Generate page
          <ul>
            <li>Provide the document title
              <ul>
                <li>If you don&#39;t know the specific title, provide the document category, such as &quot;immigration
                  papers,&quot; and the document will be inferred</li>
              </ul>
            </li>
            <li>Provide all applicable information</li>
            <li>Press submit</li>
            <li>Once the results screen loads, edit the document as desired
              <ul>
                <li>Blanks will be present where the AI model did not have enough information to fill something, so make
                  sure to fill those parts in carefully</li>
              </ul>
            </li>
            <li>Finally, press the view summary button to see the summary</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="section">
      <h3>Our Key Features</h3>
      <div class="features">
        <div class="feature">
          <h4>Decomposition</h4>
          <p>Break down a big document into smaller pieces.</p>
        </div>
        <div class="feature">
          <h4>Summarization</h4>
          <p>Summarize sections and define words within your documents.</p>
        </div>
        <div class="feature">
          <h4>Issue Identification</h4>
          <p>Highlight loopholes, issues, or places where there is potential for confusion within each section.</p>
        </div>
        <div class="feature">
          <h4>Document Generation</h4>
          <p>Generate custom legal documents from scratch with ease.</p>
        </div>
        <div class="feature">
          <h4>Context Inclusion</h4>
          <p>Use the provided information and common knowledge to automate as much as possible.</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>
