<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head', {title: "Authenticate"}); %>
    <link rel="stylesheet" href="css/registration.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
</head>

<body>
    <main>
        <% if(signup) { %>
          <input type="checkbox" id="chk" aria-hidden="true">
        <% } else { %>
          <input type="checkbox" id="chk" aria-hidden="true" checked>
        <% } %>

        <div class="signup">
            <form action="/signup" method="POST">
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="username" placeholder="Username" autocorrect="off" autocapitalize="none" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="passwordConfirmation" placeholder="Confirm Password" required>
                <button>Sign up</button>
            </form>
        </div>

        <div class="login">
            <form action="/login" method="POST">
                <label for="chk" aria-hidden="true">Log in</label>
                <input type="text" name="username" placeholder="Username" autocorrect="off" autocapitalize="none" required>
                <input type="password" name="password" placeholder="Password" required>
                <button>Log in</button>
            </form>
        </div>
    </main>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
            const chk = document.getElementById('chk');
            <% if(signup) { %>
              chk.checked = false;
            <% } else { %>
              chk.checked = true;
            <% } %>
            
            setTimeout(() => {
              <% if (error != "") { %>
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    html: '<%= error %>',
                });
              <% } %>
            }, 300);
          });          
    </script>
</body>

</html>
